<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../../partials/header.ejs') %>
<h3>Hip Hop <i>Records</i></h3>
<div class='new'>
<a href='/recordstore/new'>Post New</a>
</div>
<br>
<div class='container'>
<br>
<% for(let i=0; i<item.length; i++) { %>
  <div class='item'>
  <a href='/recordstore/<%=item[i].id%>#top'>
  <img src='<%=item[i].image%>' data-toggle='tooltip' title='<%= item[i].band %>: <%=item[i].album %>'><br>
  <%=item[i].band%>-<br>
    <%=item[i].album%></a>
  </div>
<% } %>
</div><br>
<nav class='main'>
  <a href='#top'>Back To Top</a>
<a href='/recordstore#top'>Back To Main Page</a>
</nav>
<br><br>
    <%- include ('../../partials/footer.ejs') %>
  </body>
</html>
