<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    show route<br>
    <img src='<%=item.image %>'><br>
    Band: <%= item.band %><br>
    Album: <%= item.album %><br>
    Genre: <%= item.genre %><br>
    Description: <%= item.description %><br>
    Price: $<%= item.price %><br>
    Seller: <%= item.seller %><br><br>

<a href='/recordstore/<%= item.id %>/edit'>Edit Post</a>
<form action='/recordstore/<%= item.id %>?_method=DELETE' method='POST'>
  <input type='submit' value='Delete Post'>
</form>
<a href='/recordstore'>Back To Main Page</a>
  </body>
</html>
