<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %><br>
    <div class='container'>
    <img src='<%=item.image %>' data-toggle='tooltip' title='<%= item.band %>: <%=item.album %>' alt='<%= item.band %>'><span>
    Band: <%= item.band %><br>
    Album: <%= item.album %><br>
    Genre: <%= item.genre %><br>
    Description: <%= item.description %><br>
    Price <i>(USD)</i>: $<%= item.price %><br>
    Seller: <a href='mailto:<%= item.seller %>'><%= item.seller %>
    </a></span><br>
    </div><br>
  <nav class='main'>
<a href='/recordstore/<%= item.id %>/edit#top' alt='edit'>Edit Post</a>
<form action='/recordstore/<%= item.id %>?_method=DELETE' method='POST' class='none'>
  <input type='submit' value='Delete Post' alt='delete' id='delete'>
</form>
<a href='/recordstore#top' alt='top'>Back To Main Page</a>
  </nav>
<br>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
